h2 {
  text-align: center;
  font-family: SokchoBadaDotum;
  margin-top: 50px;
  margin-bottom: 10px;
}

@font-face {
  font-family: 'SokchoBadaDotum';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/SokchoBadaDotum.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}